@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mercadona_V1.styles.css" asp-append-version="true" />
    <script type="text/javascript" src="~/js/script.js"></script>
</head>
<body>
    <header>

        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #00754d;">

            <div class="navbar-nav mx-auto">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

                    <img style="text-align:center" src="https://www.mercadona.com/estaticos/images/mercadona_logo/en/mercadona-imagotipo-color-300.png" class="img-fluid" alt="Mercadona" />

                </a>

            </div>

        </div>

        @if(signInManager.IsSignedIn(User))
        {

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #00754d;">
                <div class="container-fluid">

                    <!--

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

                        <img src="https://assets.stickpng.com/thumbs/5a1c2c12f65d84088faf13b7.png" width="150" height="150" class="img-fluid" alt="Mercadona" />

                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    -->

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Produits
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Produit" asp-action="Add">
                                                Ajouter un produit
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Produit" asp-action="List">
                                                Liste des produits
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Catégories
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Categorie" asp-action="Add">
                                                Ajouter une catégorie
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Categorie" asp-action="List">
                                                Liste des catégorie
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Promotions
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Promotion" asp-action="Add">
                                                Ajouter une promotion
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Promotion" asp-action="List">
                                                Liste des promotions
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                        </ul>

                        <div class="d-flex align-items-center">

                            @if (signInManager.IsSignedIn(User))
                            {
                                <div class="me-3 text-light">

                                    @User?.Identity?.Name

                                </div>

                                <a class="btn me-3 bg-light text-dark" asp-area="" asp-controller="Account" asp-action="Logout"> Déconnexion </a>
                            }

                        </div>

                    </div>
                </div>
            </nav>

        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Mercadona - 
            @if(!signInManager.IsSignedIn(User))
            {
                <a asp-area="" asp-controller="Account" asp-action="Login"> Administration </a>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
